.letterBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  
  background-color: #EEE;
  color: #242424;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  font-size: 48px;
  font-weight: 700;
}
